@media (max-width: 739px){
    .content-right-first{
        margin-top: 16px;
    }
    .content-right-second{
        margin-top: 8px;
    }
}

@media (min-width:767px) and (max-width: 1023px){
    .content-left-heading-img{
        height: 156px;
    }
    .content-left-heading-img::after{
        font-size: 2rem;
    }
    .content-left-heading-descrip{
        font-size: 1.1rem;
    }
}